html, body {

    background-color: #fdfdfd;
    opacity: 1;
    background: repeating-linear-gradient( -45deg, #f0f0f0, #f0f0f0 5.5px, #fdfdfd 5.5px, #fdfdfd 27.5px );

}

iframe {max-width: 128px;
    max-height: 128px;}

.button.is-rounded.is-dark.is-hovered{
    background-color: #FF3232;
}

.hero-body {
    background-color: black;

}
    
.title-main {
    font-family: 'Pokemon Solid', sans-serif;
    color: #ffcb05;
    font-size: 45px;
    text-shadow: 5px 3px 2px #3c5aa6;
}

.title {
    background-color: #FF3232;
    font-family: 'Teko', sans-serif;
    color: #fdfdfd;
    font-size: 80px;
    /*text-shadow: 1px 1px 2px black;*/
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    height: 70px;

}

p.pokemon-info {
    background-color: #FF3232;
    font-family: 'Teko', sans-serif;
    color:rgb(229, 223, 223);
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px black;

}
